@font-face {
  font-family: 'NeueHaasRoman';
  src: url('Fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'NeueHaasMedium';
  src: url('Fonts/NeueHaasDisplayMediumItalic.ttf') format('truetype');
  font-weight: normal;
}

/* 기본: Roman */
body {
  font-family: 'NeueHaasRoman', sans-serif;
}

/* 특정 요소만 Medium */
.nav-bar,
.copper-toggle,
.right-header {
  font-family: 'NeueHaasMedium', sans-serif;
}
